ops/workflows/podium-invoice-create.json
{
  "name": "podium-invoice-create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "podium-invoice-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "podium-invoice-create"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://n8n.irrigationengineers.com/webhook/podium-api?action=get&job_id={{ $json.body.job_id }}",
        "options": {}
      },
      "id": "get-project",
      "name": "Get Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n.irrigationengineers.com/webhook/podium-company",
        "options": {}
      },
      "id": "get-company",
      "name": "Get Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "jsCode": "const project = $('Get Project').first().json.project;\nconst company = $('Get Company').first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst jobId = webhookData.job_id;\n\n// Get existing invoices or empty array\nconst invoices = project.invoices || [];\n\n// Find highest invoice number for this project\nlet maxNum = 0;\ninvoices.forEach(inv => {\n  const match = inv.invoice_number.match(/-(\\d+)$/);\n  if (match) {\n    maxNum = Math.max(maxNum, parseInt(match[1]));\n  }\n});\n\nconst invoiceNumber = `${jobId}-${maxNum + 1}`;\n\n// Calculate invoice amounts with previous billing from prior invoices\nconst tasks = webhookData.tasks;\nlet total = 0;\nconst lineItems = tasks.map(task => {\n  // Sum previous billing from sent/paid invoices for this task\n  let previousBilling = 0;\n  invoices.filter(inv => inv.status === 'sent' || inv.status === 'paid')\n    .forEach(inv => {\n      const prevTask = (inv.tasks_invoiced || []).find(t => t.name === task.name);\n      if (prevTask) {\n        previousBilling += (prevTask.amount * prevTask.percent) / 100;\n      }\n    });\n  \n  const currentBilling = (task.amount * task.percent) / 100;\n  total += currentBilling;\n  return {\n    name: task.name,\n    fee: task.amount,\n    percent: task.percent,\n    previousBilling: previousBilling,\n    currentBilling: currentBilling\n  };\n});\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn {\n  invoice_number: invoiceNumber,\n  today: today,\n  total_amount: total,\n  line_items: lineItems,\n  tasks: webhookData.tasks,\n  send_to: webhookData.send_to || [],\n  project_name: project.project_name,\n  client_name: project.client_name,\n  job_id: project.job_id,\n  company_email: company.company_email || ''\n};"
      },
      "id": "calculate-invoice",
      "name": "Calculate Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "16QHE3DdF0AAQtLgXUZSx8c9T2q3dvTvKwjb90B5yGcI",
          "mode": "id"
        },
        "name": "={{ $('Calculate Invoice').first().json.invoice_number }} - {{ $('Calculate Invoice').first().json.client_name }}",
        "options": {}
      },
      "id": "copy-template",
      "name": "Copy Template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZIC1FGpIB8eDerTb",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Copy Template').first().json.id }}/values/Invoice!B6:B10?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\"{{ $('Calculate Invoice').first().json.project_name }}\"],\n    [\"{{ $('Calculate Invoice').first().json.job_id }}\"],\n    [\"{{ $('Calculate Invoice').first().json.today }}\"],\n    [\"{{ $('Calculate Invoice').first().json.invoice_number }}\"],\n    [\"{{ $('Calculate Invoice').first().json.company_email }}\"]\n  ]\n}",
        "options": {}
      },
      "id": "fill-project-info",
      "name": "Fill Project Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YS39b92xVsoVEdGk",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Copy Template').first().json.id }}/values/Invoice!F7?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\"{{ $('Calculate Invoice').first().json.client_name }}\"]\n  ]\n}",
        "options": {}
      },
      "id": "fill-client-info",
      "name": "Fill Client Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YS39b92xVsoVEdGk",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lineItems = $('Calculate Invoice').first().json.line_items;\n\n// Build 2D array for rows 14-23 (up to 10 tasks)\nconst rows = [];\nfor (let i = 0; i < 10; i++) {\n  if (i < lineItems.length) {\n    const item = lineItems[i];\n    rows.push([item.name, '', item.fee, item.percent + '%', item.previousBilling, item.currentBilling]);\n  } else {\n    rows.push(['', '', '', '', '', '']);\n  }\n}\n\nreturn { taskRows: rows };"
      },
      "id": "format-tasks",
      "name": "Format Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Copy Template').first().json.id }}/values/Invoice!A15:F24?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": {{ JSON.stringify($json.taskRows) }}\n}",
        "options": {}
      },
      "id": "fill-tasks",
      "name": "Fill Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YS39b92xVsoVEdGk",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.irrigationengineers.com/webhook/podium-api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"add_invoice\",\n  \"job_id\": \"{{ $('Webhook').first().json.body.job_id }}\",\n  \"invoice\": {\n    \"invoice_number\": \"{{ $('Calculate Invoice').first().json.invoice_number }}\",\n    \"created_at\": \"{{ $('Calculate Invoice').first().json.today }}\",\n    \"amount\": {{ $('Calculate Invoice').first().json.total_amount }},\n    \"status\": \"draft\",\n    \"sheet_url\": \"https://docs.google.com/spreadsheets/d/{{ $('Copy Template').first().json.id }}\",\n    \"send_to\": {{ JSON.stringify($('Calculate Invoice').first().json.send_to) }},\n    \"tasks_invoiced\": {{ JSON.stringify($('Calculate Invoice').first().json.tasks) }}\n  }\n}",
        "options": {}
      },
      "id": "save-invoice",
      "name": "Save Invoice to Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"invoice_number\": \"{{ $('Calculate Invoice').first().json.invoice_number }}\",\n  \"sheet_url\": \"https://docs.google.com/spreadsheets/d/{{ $('Copy Template').first().json.id }}\",\n  \"amount\": {{ $('Calculate Invoice').first().json.total_amount }}\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Project", "type": "main", "index": 0 }]
      ]
    },
    "Get Project": {
      "main": [
        [{ "node": "Get Company", "type": "main", "index": 0 }]
      ]
    },
    "Get Company": {
      "main": [
        [{ "node": "Calculate Invoice", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Invoice": {
      "main": [
        [{ "node": "Copy Template", "type": "main", "index": 0 }]
      ]
    },
    "Copy Template": {
      "main": [
        [{ "node": "Fill Project Info", "type": "main", "index": 0 }]
      ]
    },
    "Fill Project Info": {
      "main": [
        [{ "node": "Fill Client Info", "type": "main", "index": 0 }]
      ]
    },
    "Fill Client Info": {
      "main": [
        [{ "node": "Format Tasks", "type": "main", "index": 0 }]
      ]
    },
    "Format Tasks": {
      "main": [
        [{ "node": "Fill Tasks", "type": "main", "index": 0 }]
      ]
    },
    "Fill Tasks": {
      "main": [
        [{ "node": "Save Invoice to Project", "type": "main", "index": 0 }]
      ]
    },
    "Save Invoice to Project": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
